.keyboard {
  padding: 5px;

  width: calc(#{$width-laptop} + 4px);
  height: 225px;

  display: flex;
  flex-direction: column;
  justify-content: space-around;

  border: 2px solid $color-laptop;
  border-bottom-left-radius: $main-border-radius;
  border-bottom-right-radius: $main-border-radius;

  background-color: $color-laptop;
}

.keyboard__row {
  display: flex;
  justify-content: space-between;
}
